.main{
    @include breakpoint-up(large){
        display: flex;
        align-items: center;
        min-height: 40rem;
    } 
    margin: 0 1rem 5rem 1rem;

    &_image{
    background-image: url('/images/person_1rbc.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 15rem;
    margin-top: 1.5rem;

    @include breakpoint-up(large){
        flex: 2;
        order: 2; 
        height: 30rem;
    } 
}
    &_text{
    text-align: center;
    padding-top: 2rem;

    @include breakpoint-up(large){
        flex: 3;
        order: 1;

    } 

    h1{
    font-size: 2rem;
    text-align: center;
    line-height: 2;
    }
    p{
        font-size: 1rem;
        line-height: 2;
        text-align: center;
        margin-bottom: 1rem;
    }
    }
    &_button{
        margin-top: 1.5rem;
        
    }
}