.service{

    &_stages{
    @include breakpoint-up(medium){
        display: flex;
        flex-wrap: wrap;
    }
}

    &_item {
        padding: 3rem;

        @include breakpoint-up(large){
            flex:1;
         
        }
        @include breakpoint-up(medium){
            flex:1;
        
    }
}
    
   &_pic {
    img{
        max-width: 15rem;
        max-height: 30rem;
    }
   }

    &_title{

    }
    &_description{

    }

}