.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation: fade-in 0.5s forwards;
          animation: fade-in 0.5s forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  -webkit-animation: fade-out 0.5s forwards;
          animation: fade-out 0.5s forwards;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  background-color: #e1e8eb;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

.container {
  padding: 0 1.5rem;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: #4a7d9d;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 400;
  font-size: 0.8rem;
  opacity: 1;
  transition: opacity 0.5s;
  display: inline-block;
}
button:hover {
  opacity: 0.7;
}

.header nav {
  position: relative;
  background-color: white;
}
.header.open .header_toggle span:first-child {
  transform: rotate(45deg);
}
.header.open .header_toggle span:nth-child(2) {
  opacity: 0;
}
.header.open .header_toggle span:last-child {
  transform: rotate(-45deg);
}
.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(#4a7d9d, transparent);
}
.header .overlay.fade-in {
  display: block;
}
.header .overlay.fade-out {
  display: block;
}
.header_logo img {
  height: 5rem;
  width: auto;
}
.header_toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #4a7d9d;
  transition: all 0.5s;
  transform-origin: 1.5px 1.5px;
}
.header_toggle span:not(:last-child) {
  margin-bottom: 5px;
}
.header_menu {
  position: absolute;
  width: 80%;
  background: #fff;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1rem;
  padding: 1rem 0;
  border-radius: 3px;
}
.header_menu a {
  display: block;
  color: #000;
  padding: 0.5rem;
  text-align: center;
}
.header_links a {
  color: #737298;
  transition: color 0.5s;
  position: relative;
}
.header_links a:not(:last-child) {
  margin-right: 40px;
}
.header_links a::after {
  content: "";
  position: absolute;
  display: block;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -30px;
  background-image: linear-gradient(to right, #6e9bb3, #bdceeb);
  opacity: 0;
  transition: opacity 0.5s;
}
.header_links a:hover {
  color: black;
}
.header_links a:hover::after {
  opacity: 1;
}

@media (max-width: 63.937em) {
  .hide_for_mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide_for_desktop {
    display: none;
  }
}

.main {
  margin: 0 1rem 1.5rem 1rem;
}
@media (min-width: 64em) {
  .main {
    display: flex;
    align-items: center;
    min-height: 40rem;
  }
}
.main_image {
  background-image: url("/images/person_1rbc.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 15rem;
  margin-top: 1.5rem;
}
@media (min-width: 64em) {
  .main_image {
    flex: 2;
    order: 2;
    height: 30rem;
  }
}
.main_text {
  text-align: center;
  padding-top: 2rem;
}
@media (min-width: 64em) {
  .main_text {
    flex: 3;
    order: 1;
  }
}
.main_text h1 {
  font-size: 2rem;
  text-align: center;
  line-height: 2;
}
.main_text p {
  font-size: 1rem;
  line-height: 2;
  text-align: center;
  margin-bottom: 1rem;
}
.main_button {
  margin-top: 1.5rem;
}

@media (min-width: 40em) {
  .service_stages {
    display: flex;
    flex-wrap: wrap;
  }
}
.service_item {
  padding: 3rem;
}
@media (min-width: 64em) {
  .service_item {
    flex: 1;
  }
}
@media (min-width: 40em) {
  .service_item {
    flex: 1;
  }
}
.service_pic img {
  max-width: 15rem;
  max-height: 30rem;
}
/*# sourceMappingURL=style.css.map */