//colors
$lightBlue: rgb(189, 206, 235); 
$logoBlue: #6e9bb3; 
$darkBlue: #4a7d9d;
$grayishBlue: rgb(115, 114, 152); 
$white: #fff;
$black: #000; 
$lightGrayishBlue: rgb(225, 232, 235);
$lightGrayishBlue2: rgb(156, 198, 214);

//fonts
$mainFont: 1rem; 
